window {
    background-color: rgba(26, 27, 38, 1);
    border: 1px solid #9ece6a;
    border-radius: 16px;
    padding: 10px;
    font-family: Proxima Nova;
    font-size: 18px;
}

#input {
    margin: 15px 15px 10px;
    padding: 5px;
    background-color: #1a1b26;
    border: 1px solid #9ece6a;
    border-radius: 11px;
    color: #ffffff;
}

#input:focus {
    padding: auto;
    outline: none;
    background-color: #1a1b26;
    color: #ffffff;
}

#entry {
    margin: 10px 15px;
    padding: 10px;
    background-color: transparent;
    outline: none;
}

#entry:selected {
    margin: 10px 15px;
    border: none;
    border-radius: 15px;
    background: rgba(44, 48, 68, 1);
}

#text {
    color: #ffffff;
}

#text:selected {
    color: #ffffff;
}

#img {
    margin-right: 15px;
    min-height: 24px;
    min-width: 24px;
}
