window {
    background-color: rgba(20, 20, 20, 0.55);
    border-radius: 14px;
    padding: 5px 10px;
}

#entry {
    background-color: rgba(255, 255, 255, 0.06);
    margin: 4px;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 16px;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.15);
}
#input {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
