
// ░███    ░██ ░██████░█████████  ░██████
// ░████   ░██   ░██  ░██     ░██   ░██
// ░██░██  ░██   ░██  ░██     ░██   ░██
// ░██ ░██ ░██   ░██  ░█████████    ░██
// ░██  ░██░██   ░██  ░██   ░██     ░██
// ░██   ░████   ░██  ░██    ░██    ░██
// ░██    ░███ ░██████░██     ░██ ░██████


include "outputs.kdl"
include "misc.kdl"
include "dms/colors.kdl"
include "layout.kdl"
include "autostart.kdl"
include "binds.kdl"
include "rules.kdl"
// include "animations.kdl"

