layout {
    background-color "transparent"

    focus-ring {
        active-color   "#80d4d8"
        inactive-color "#899393"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#80d4d8"
        inactive-color "#899393"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#80d4d8"
        inactive-color "#899393"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#80d4d880"
    }
}

recent-windows {
    highlight {
        active-color   "#004f52"
        urgent-color   "#ffb4ab"
    }
}