layout {
    background-color "transparent"

    focus-ring {
        active-color   "#cccb75"
        inactive-color "#939181"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cccb75"
        inactive-color "#939181"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cccb75"
        inactive-color "#939181"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cccb7580"
    }
}

recent-windows {
    highlight {
        active-color   "#4a4900"
        urgent-color   "#ffb4ab"
    }
}